.display {
  color: #fff;
  background: #333333;
  border: 1px solid #444444;
  border-radius: 6px;
  font-size: 46pt;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
}
